{{ element.options.attributes.type }}
{{ element.uri }}
{{ element.options.attributes.id }}
{{ element.options.attributes.submit }}

{# TODO later: BO preview.
<video controls src="uri">Ici la description alternative</video> #}
