<menu-header
  homepage="{{ is_home }}"
  :menu-items="{{ hero_menu|json_encode }}"
  :channels="{{ channels|json_encode }}"
  :utils-links="{{ items|json_encode }}">

  <template #breadcrumb>
    {{ displayBlock('c4com_breadcrumbs') }}
  </template>

  <template #langmenu>
    {{ displayBlock('languageswitcher') }}
  </template>

</menu-header>
