#edit-ecole {
  position: relative;
  min-height: 25px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
#edit-ecole .form-item-ecole {
  float: left;
}
#edit-ecole .form-item-ecole label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
#edit-ecole .form-item-ecole [type=radio] {
  display: none;
}
#edit-ecole [type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
