form#preinscriptionform-form .input-group-addon {
    display: none !important;
}
.form-item.js-form-item.form-type-radio.js-form-type-radio.form-item-responsable-civilite.js-form-item-responsable-civilite.radio,
.form-item.js-form-item.form-type-radio.js-form-type-radio.form-item-civilite.js-form-item-civilite.radio {
    width: 5rem;
    display: inline-flex;
    flex-wrap: nowrap;
    margin-bottom: 3rem;
}
.preinscriptionform-form .form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 20px;
    left: 35px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}
.preinscriptionform-form .form-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}
.preinscriptionform-form .form-radio:hover {
    background-color: #f7f7f7;
}
.preinscriptionform-form .form-radio:checked {
    background-color: #f1f1f1;
}
.user_exist{
    margin-bottom: 15px;
    font-weight: 400;
    color: red;
}
.user_ntexist{
    margin-bottom: 15px;
    font-weight: 400;
    color: green;
}
input[type="radio"]{
    outline: none !important;
}
#edit-civilite--wrapper {
    padding-bottom: 15px;
}
#edit-civilite--wrapper .fieldset-wrapper {
    margin-top: -15px;
}
.form-item-civilite-responsable.js-form-item-civilite-responsable.radio,
.form-item-civilite.js-form-item-civilite.radio {
  width: 5rem;
  display: inline-flex;
  flex-wrap: nowrap;
  margin-bottom: 4.5rem;
}
*:after {
  background-image: none;
  display: none;
}

.form-required-asterix:after {
  background-image: url(images/required.svg) !important;
  -webkit-background-size: 10px 7px;
  background-size: 10px 7px;
  background-repeat: no-repeat;
  background-position-x: center;
  content: "";
  display: inline-block;
  vertical-align: super;
  line-height: 1;
  height: 7px;
  width: 10px;
  padding-left: 0.15rem;
}

fieldset.error > div.fieldset-wrapper > div:first-child {
  color: #a94442;
  background-color: #f2dede;
  padding: 5px 10px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}

.bs-date-picker-anniv:after{
  background-image: url(images/calendar-picker.svg) !important;
  -webkit-background-size: 20px 20px;
  background-size:  20px 20px;
  content: "";
  display: inline-block;
  vertical-align: super;
  line-height: 1;
  height:  20px;
  width:  20px;
  cursor: pointer;
  z-index: 1000;
}
.bs-date-picker-anniv{
  background-color: #fff !important;
  opacity: 1;
}

.path-formulaire-candidature .header__middle .container .header__middle__banner {
    position: relative;
    top: 25px;
    margin-bottom: 4rem;
}
.bs-date-picker-anniv::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
.bs-date-picker-anniv::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}
.bs-date-picker-anniv::-webkit-clear-button , .bs-date-picker-anniv::-ms-clear{
  -webkit-appearance: none;
  display: none;
}
