{#
/**
 * @file book_entity.html.twig
 * Default theme implementation to present Book entity data.
 *
 * This template is used when viewing Book entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_book_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('book_entity') }}>
  {% if content %}
    {{- content -}}
    fffffff
  {% endif %}
</div>
