
<div class="formulaire-preincription-table">
    <div class="container">
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date de naissance </th>
                    <th scope="col">Numéro de téléphone</th>
                    <th scope="col"> Supprimer </th>
                </tr>
                </thead>
                <tbody>
                {% for row in liste_preinscrit %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="inline-block-button">
                <div class="supprim-button">
                    <button type="button" class="btn btn-danger"> Supprimer </button>
                </div>
                <div class="export-button">
                    <button type="button" class="btn btn-info"> Exporter au format CSV</button>
                </div>
            </div>
        </div>
    </div>


</div>





